<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_mall.member.mapper.MemberMapper">
    <insert id="insertMember" parameterType="com.example.demo_mall.member.dto.Member">
        INSERT INTO member
            (name, birth, mobile, email, password)
        VALUES(#{name}, #{birth}, #{mobile}, #{email}, #{password});
    </insert>

    <select id="getAllMember" resultType="com.example.demo_mall.member.dto.Member">
        select *
        from member
    </select>
    <select id="getMemberById" parameterType="String" resultType="com.example.demo_mall.member.dto.Member">
        select *
        from member
        where member_id = #{memberId}
    </select>


<!--    INSERT INTO post-->
<!--    (member_id, title, content, create_date, update_date)-->
<!--    VALUES (#{memberId}, #{title}, #{content}, now(), now())-->

</mapper>